<!DOCTYPE html>
<html lang="en">
<head th:fragment="html_header">
    <title>Orfarm Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/animate.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/scss/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
    <header class="header"  th:fragment="my-header">
    <!--            th:switch="${status.value}" các bạn cho trường hợp thì kéo nó lên đặt trong thẻ header nhé-->

        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar ">
    <!--             th:case="'Khon co tai khoan'-->
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="#" target="_blank">
                    <img style="height: 54px;" src="./image/coollogo_com-7162464-removebg-preview.png" alt="">
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active" style="padding-left: 40px;">
                            <a class="nav-link waves-effect  text-header" th:href="@{/}">Trang chủ

                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link waves-effect text-header dropdown-toggle"
                                   href="" target="_blank">Giới thiệu

                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                    <a class="dropdown-item" href="./information.html">Về chúng tôi</a>
                                    <a class="dropdown-item" href="./license.html">Giấy chứng nhận</a>
                                    <a class="dropdown-item" href="./recruit.html">Tuyển dụng</a>
                                    <a class="dropdown-item" href="./policy.html">Chính sách bảo mật</a>
                                    <a class="dropdown-item" href="./condition.html">Điều khoản dịch vụ</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link waves-effect text-header dropdown-toggle"
                                   href="./shop.html" target="_blank">Cửa hàng

                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-collection">
                                    <a class="dropdown-item" href="./raucusach.html">Rau củ sạch</a>
                                    <a class="dropdown-item" href="./hoaqua.html">Hoa quả</a>
                                    <a class="dropdown-item" href="./dokho.html">Đồ khô</a>
                                    <a class="dropdown-item" href="./vungmien.html">Đặc sản vùng miền</a>
                                    <a class="dropdown-item" href="./tuoisong.html">Thực phẩm tươi sống</a>
                                    <a class="dropdown-item" href="./thucphamkhac.html">Sản phẩm khác</a>
                                </div>
                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-effect text-header" href="./blog.html">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect text-header" href="./contact.html">Liên hệ</a>
                        </li>
                    </ul>


                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item ">
                            <a href="#" class="nav-link cart-btn amm-shopping-cart-open pr-3"><i onclick="shoppingCarts()"
                                                                                                 class="fas fa-shopping-cart"></i>
                                <span class="quantity-amm-shopping-cart-open">0</span></a>

                        </li>
                        <li class="nav-item">
                            <a th:href="@{/login}" class="nav-link border border-light rounded waves-effect"                            >
                                <i class="fas fa-user"></i>Đăng Nhập
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
        
<!-- chỗ này t commnent lại trường hợp case thứ 2-->
<!--        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar " th:case="'Co tai khoan nguoi dung>-->
<!--            <div class="container-fluid">-->

<!--                &lt;!&ndash; Brand &ndash;&gt;-->
<!--                <a class="navbar-brand waves-effect" href="./index.html">-->
<!--                    <img style="height: 40px;" src="./image/coollogo_com-7162464-removebg-preview.png" alt="">-->
<!--                </a>-->

<!--                &lt;!&ndash; Collapse &ndash;&gt;-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--                        aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->

<!--                &lt;!&ndash; Links &ndash;&gt;-->
<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

<!--                    &lt;!&ndash; Left &ndash;&gt;-->
<!--                    <ul class="navbar-nav mr-auto">-->
<!--                        <li class="nav-item active" style="padding-left: 40px;">-->
<!--                            <a class="nav-link waves-effect  text-header" href="./index.html">Trang chủ-->

<!--                                <span class="sr-only">(current)</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <div class="dropdown">-->
<!--                                <a class="nav-link waves-effect text-header dropdown-toggle" href=""-->
<!--                                   target="_blank">Giới thiệu-->

<!--                                </a>-->
<!--                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"-->
<!--                                     id="dropdown-collection">-->
<!--                                    <a class="dropdown-item" href="./information.html">Về chúng tôi</a>-->
<!--                                    <a class="dropdown-item" href="./license.html">Giấy chứng nhận</a>-->
<!--                                    <a class="dropdown-item" href="./recruit.html">Tuyển dụng</a>-->
<!--                                    <a class="dropdown-item" href="./policy.html">Chính sách bảo mật</a>-->
<!--                                    <a class="dropdown-item" href="./condition.html">Điều khoản dịch vụ</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <div class="dropdown">-->
<!--                                <a class="nav-link waves-effect text-header dropdown-toggle" href="./shop.html"-->
<!--                                   target="_blank">Cửa hàng-->

<!--                                </a>-->
<!--                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"-->
<!--                                >-->
<!--                                    <a class="dropdown-item" href="./raucusach.html">Rau củ sạch</a>-->
<!--                                    <a class="dropdown-item" href="./hoaqua.html">Hoa quả</a>-->
<!--                                    <a class="dropdown-item" href="./dokho.html">Đồ khô</a>-->
<!--                                    <a class="dropdown-item" href="./vungmien.html">Đặc sản vùng miền</a>-->
<!--                                    <a class="dropdown-item" href="./tuoisong.html">Thực phẩm tươi sống</a>-->
<!--                                    <a class="dropdown-item" href="./thucphamkhac.html">Sản phẩm khác</a>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link waves-effect text-header" href="./blog.html">Blogs</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link waves-effect text-header" href="./contact.html">Liên hệ</a>-->
<!--                        </li>-->
<!--                    </ul>-->


<!--                    &lt;!&ndash; Right &ndash;&gt;-->
<!--                    <ul class="navbar-nav nav-flex-icons">-->
<!--                        <li class="nav-item ">-->
<!--                            <a href="#"  class="nav-link cart-btn amm-shopping-cart-open pr-3"><i onclick="shoppingCarts()" class="fas fa-shopping-cart"></i>-->
<!--                                <span class="quantity-amm-shopping-cart-open">0</span></a>-->

<!--                        </li>-->

<!--                        <li class="nav-item">-->
<!--                            &lt;!&ndash; <a href="./login.html" class="nav-link border border-light rounded waves-effect"-->
<!--                                target="_blank">-->
<!--                                <i class="fas fa-user"></i>Đăng Nhập-->
<!--                            </a> &ndash;&gt;-->
<!--                            <div class="dropdown dropdown-user">-->
<!--                                <button class="btn  dropdown-toggle " type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                    <i class="fas fa-user"></i> UserName-->
<!--                                </button>-->
<!--                                <div class="dropdown-menu dropdown-menu-right "  aria-labelledby="dropdownMenuButton">-->
<!--                                    <a class="dropdown-item" href="#">Thông tin cá nhân</a>-->
<!--                                    <a class="dropdown-item" href="#">Lịch sử mua hàng</a>-->
<!--                                    <a class="dropdown-item" href="#">Đăng xuất</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->

<!--                </div>-->

<!--            </div>-->
<!--        </nav>-->

    </header>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!--====== jquery js ======-->
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

<!--====== Bootstrap js ======-->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/popper.min.js"></script>

<!--====== wow js ======-->
<script src="assets/js/wow.js"></script>

<!--====== Slick js ======-->
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>

<!--====== TweenMax js ======-->
<script src="assets/js/TweenMax.min.js"></script>

<!--====== Slick js ======-->
<script src="assets/js/slick.min.js"></script>

<!--====== Magnific Popup js ======-->
<script src="assets/js/jquery.magnific-popup.min.js"></script>

<!--====== Main js ======-->
<script src="assets/js/main.js"></script>
<!--<script src="./cart.js"></script>-->
</html>