<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{header :: html_header}"></head>

<body>
<header th:replace="header :: my-header"></header>
<section class="breadcrum">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb container">
              <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
            </ol>
          </nav>
    </section>
         <!--====== SHOPPING CART PART START ======-->

     <div class="amm-shopping-cart-wrapper">
        <div class="amm-shopping-cart-canvas" id="amm-shopping-cart-canvas">
            <div class="amm-shopping_cart">
                <div class="amm-shopping_cart-top-bar d-flex justify-content-between">
                    <h6>Giỏ hàng</h6>
                    <button onclick="removeShoppingCart()" class="amm-shopping-cart-close">
                        <i class="fas fa-times"></i>
                    </button>
                </div><!-- shopping cart top bar -->
                <div class="amm-shopping_cart-list-items mt-30" id="showCart">
                    <ul>
                        
                    </ul>
                </div> <!-- shopping_cart list items -->
                <div class="amm-shopping_cart-btn">
                    <div class="total pt-35 d-flex justify-content-between">
                        <h5>Tổng tiền:</h5>
                        <p><span>0 <sup>đ</sup></span></p>
                        
                    </div>
                    <div class="cart-btn pt-25">
                        <a class="main-btn" onclick="viewCarts()" href="./ViewCart.html">Xem giỏ hàng</a>
                        <a class="main-btn main-btn-2" href="./payment.html">Thanh toán</a>
                    </div>
                </div>
            </div> <!-- shopping_cart -->
        </div>
        <div onclick="openOverlay()" class="overlay" id="overlay"></div>
    </div>

    <!--====== SHOPPING CART PART ENDS ======-->

    <div class="orfarm-shop-grid-area pt-100 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="orfarm-shop-sidebar">
                        <div class="shop-price-filter">
                            <h4 class="title">Lọc theo giá</h4>
                            <div class="price-range">
                               <input type="checkbox" name="" id="">
                               <label for="">10.000đ - 30.000đ</label>
                               <br>
                               <input type="checkbox" name="" id="">
                               <label for="">30.000đ - 50.000đ</label>
                               <br>
                               <input type="checkbox" name="" id="">
                               <label for="">50.000đ - 100.000đ</label> 
                               <br>
                                <input type="checkbox" name="" id="">
                               <label for="">100.000đ - 200.000đ</label>
                               <br>
                               <input type="checkbox" name="" id="">
                               <label for="">> 200.000đ</label>
                            </div>
                        </div>
                        <div class="shop-category-widget">
                            <h4 class="title">Danh Mục Sản Phẩm</h4>
                            <ul>
                                <li class="fruit" th:each="item, state : ${listCategory}">
                                    <a th:href="@{'/category/' + ${item.id}}" th:text ="${item.name}"></a>
                                </li>
<!--                                <li><a href="./hoaqua.html">Hoa quả</a></li>-->
<!--                                <li><a href="./dokho.html">Đồ khô</a></li>-->
<!--                                <li><a href="./vungmien.html">Đặc sản vùng miền</a></li>-->
<!--                                <li><a href="./tuoisong.html">Thực phẩm tươi sống</a></li>-->
<!--                                <li><a href="./thucphamkhac.html">Sản phẩm khác</a></li>-->
                            </ul>
                        </div>
                        <div class="shop-best-product-widget">
                            <h4 class="title">Best Seller</h4>
                            <div class="shop-product">
                                <div class="thumb">
                                    <img th:src="@{/image/cà chua.jpg}" alt="">
                                </div>
                                <div class="content">
                                    <a href="./productdetail.html">Cà Chua Mộc Châu</a>
                                    <span>45.000đ</span>
                                </div>
                            </div>
                            <div class="shop-product">
                                <div class="thumb">
                                    <img th:src="@{/image/cải bắp.jpg}" alt="">
                                </div>
                                <div class="content">
                                    <a href="./productdetail.html">Cải Bắp Đà Lạt</a>
                                    <span>18.000đ</span>
                                </div>
                            </div>
                            <div class="shop-product">
                                <div class="thumb">
                                    <img th:src="@{/image/đậu.jpg}" alt="">
                                </div>
                                <div class="content">
                                    <a href="./productdetail.html">Đậu Xanh Hải Dương</a>
                                    <span>23.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="shop-tags-bar">
                            <h4 class="title">Sản phẩm phổ biến</h4>
                            <ul>
                                <li><a href="#">Chuối</a></li>
                                <li><a href="#">Thịt trâu</a></li>
                                <li><a href="#">Táo</a></li>
                                <li><a href="#">Gạo</a></li>
                                <li><a href="#">Cà Phê</a></li>
                                <li><a href="#">Hạt Điều</a></li>
                                <li><a href="#">cải Bắp</a></li>
                                <li><a href="#">Cải Gồng</a></li>
                            </ul>
                        </div>
                        <div class="shop-sidebar">
                            <a href="./shop.html" class="image-hover">
                                <img th:src="@{/image/banner10-min.jpg}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="row">
                        <div class="banner-collection pb-5 w-300">
                            <img th:src="@{/image/20200929091644852gia-thuc-pham-ngay-299-thi-truong-soi-dong-hon-khi-14-0.jpg}"  height="262px" alt="">
                        </div>
                    </div>
                    <div class="shop-grid-topbar d-flex justify-content-between align-items-center">
                        <span>Tổng số <span th:text="${sum}"></span> sản phẩm.</span>
                        <select id="product">
                            <option value="volvo">Mới nhất</option>
                            <option value="saab">Bán chạy nhất</option>
                            <option value="vw">Đánh giá tốt</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6" th:each="pro, state : ${listProduct}">
                            <div class="single-shop-box">
                                <div class="thumb text-center">
                                    <img th:src="@{'/'+${pro.image}}" alt="">
                                    <div class="reborn">
                                        <span>Sale</span>
                                    </div>
                                    <div class="cart-list-icon">
                                        <ul>
                                            <li class="shopping-bag"><a href="#"><i class="fal fa-shopping-bag"></i></a></li>
                                            <li><a th:href="@{#}"><i class="fal fa-heart"></i></a></li>
                                            <li><a th:href="@{#}"><i class="fal fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                    </ul>
                                    <input type="hidden" id="productId" value="1">
                                    <a th:href="@{'/product/' + ${pro.id}}" th:text="${pro.name}"></a>
                                    <div class="pricing">
                                        <div class="discount-price"><span th:text="(1-(${pro.percentDiscount}/100))*${pro.salePrice}"></span> </div>
                                        <div class="regular-price"><span th:text="${pro.salePrice}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-lg-12">-->
<!--                            <div class="bisylms-pagination">-->
<!--                                <span class="current">1</span>-->
<!--                                <a href="#">2</a>-->
<!--                                <a href="#">3</a>-->
<!--                                <a class="next" href="#">next<i class="fal fa-arrow-right"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <footer th:replace = "~{footer :: html_footer}"> </footer>
    </div></body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <th:block th:insert="~{header :: script}"></th:block>
</html>